@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600;700;800;900&display=swap");

.navbar {
  background: transparent;
  width: 100%;
  margin: auto;
  z-index: 9;
  position: fixed;
  padding: 24px 0;
  top: 0;
  right: 0;
  overflow: hidden;

  .Logo {
    font-size: 36px;
    cursor: pointer;
  }
}

.active {
  background: rgb(15, 18, 31);
  background: linear-gradient(
    281deg,
    rgba(34, 60, 93, 1) 0%,
    rgba(16, 20, 34, 1) 24%,
    rgba(15, 18, 31, 1) 52%,
    rgba(17, 22, 37, 1) 73%,
    rgba(34, 60, 93, 1) 100%
  );
  transition: background-color 200ms linear;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  font-family: "Outfit", sans-serif;
  justify-content: space-between;
  align-items: center;
  width: 83%;
  margin: auto;
}

.Nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 44%;

  .nav-links {
    text-decoration: none;
  }

  p {
    cursor: pointer;
    padding: 16px 24px;
  }

  .CustomerButton {
    color: white;
    background-image: linear-gradient(to right, #010851, #4d9ee9);
    border-radius: 24px;
  }
}
