form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  input {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.3);
    background: #444e7d;
    border-radius: 8px;
    border: none;
    height: 40px;
    width: 70%;
    margin-bottom: 24px;
    padding-left: 12px;
  }
  input::placeholder {
    padding-left: 12px;
    color: rgba(255, 255, 255, 0.3);
  }

  [type="submit"] {
    background: linear-gradient(94.53deg, #010851 1.62%, #4d9ee9 103.35%);
    border-radius: 24px;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
    width: 80%;
    height: 55px;
    cursor: pointer;
    margin-top: 50px;
  }

  .createAccount {
    text-decoration: none;
  }
}

.register-form {
  width: 90%;
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
}

.forgotPassword {
  position: absolute;
  padding: 20px;
  right: 106px;
  bottom: 135px;
  color: rgba(248, 248, 248, 0.3) !important;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
