.CustomCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  align-items: center;
  margin-bottom: 80px;

  .CustomCardImage {
    border-radius: 30px;
  }

  .CustomCardText {
    display: flex;
    flex-direction: column;
    width: 53%;

    .CustomCardTitle {
      font-family: "Clash Display";
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
      color: white;
    }

    .CustomCardDescription {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: rgba(255, 255, 255, 0.6);
    }
  }

  .CustomCardPTitleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 61%;

    .CustomCardPng {
      height: 35px;
      background: #4996e1;
      border-radius: 12px;
      padding: 4px;
    }
  }
}

.steps__container {
  display: flex;
  flex-direction: row;
  background: #1a1e30;
  border-radius: 20px;
  margin: 33px auto 190px auto;
  width: 87%;
  padding: 30px 12px;

  .steps__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #24283a;
    border-radius: 12px;
    height: 190px;
    margin: auto;
    justify-content: space-evenly;
    width: 30%;

    .steps__icon {
      background: #4996e1;
      border-radius: 12px;
      padding: 6px;
    }

    .steps__title {
      margin: 0;
      font-family: "Clash Display";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
    }

    .steps__text {
      font-family: "Outfit";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: rgba(255, 255, 255, 0.6);
      padding-inline: 32px;
    }
  }
}
