.footer {
  background-color: #1a1e30;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 350px;

  .footer-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 56px 120px 34px;

    .footer-logo {
      font-family: "Clash Display";
      font-style: normal;
      font-weight: 700;
      font-size: 38px;
      line-height: 47px;
    }

    .footer-list {
      display: flex;
      flex-direction: row;
      text-align: center;

      ul {
        p {
          font-family: "Clash Display";
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 25px;
          padding-bottom: 20px;
          cursor: pointer;
        }

        li {
          font-family: "Outfit";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: white;
          list-style: none;
          padding-bottom: 16px;
          cursor: pointer;
        }

        .link-list-item {
          text-decoration: none;
        }
      }
    }
  }

  .copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    width: 80%;
    margin: auto;
    padding: 24px 0;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
}
